.p{
    width: 500px;
    height: 75vh;
    margin: 20px 10px;
    border: 3px solid rgb(157, 160, 160);
    overflow: hidden;
}
.p-effect{
   height: 30px;
   background-color: rgb(238, 232, 232);
   display: flex; 
   align-items: center;
   position: sticky;
   z-index: 2;
}
.p-dot{
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 70%;
    background-color: white;
}
.link{ 
    background-color: gray;
    color: beige;
    font-weight: 500;
}
.p-desc{
    font-weight: 500;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 10s ease;
}
.p:hover .p-desc{
    transform: translateY(-100%);
}