.c{
  height: 100vh;  
  position: relative;
}
.c-bg{
    width: 20px;  
    height: 100%;
    background-color: green;
    position: absolute;
}
.c-wrapper{
    padding: 50px 100px;
    display: flex;
}
.c-left{
    flex:1;
}
.c-right{
    flex:1;
}
.c-title{
    width: 80%;
}
.c-info-item{
    display: flex;
    align-items: center;
}
.c-icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 300;
}
form{
    margin-top: 20px;
}
input{
    width: 50%;
    height: 50px;
    margin: 10px 0px;
    padding-left: 10px;
}
textarea{
    width: 100%;
}
button{
    padding: 10px 70px;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}
